// ============================================================================
// Variables: Colors
// ============================================================================

$error: #ea0303;

// 100 on 900 contrast: 17.99
$gray-100: #f3f4f6;
$gray-200: #d6d7d9;
$gray-300: #b9babc;
$gray-400: #9b9c9e;
$gray-500: #7e7f81;
$gray-600: #616264;
$gray-700: #444547;
$gray-800: #262729;
$gray-900: #090a0c;

// Light on Dark contrast: 7.35
$accent-1-light: #c1d1ec; // 1.4 on Gray 100, 12.82 on Gray 900
$accent-1-base: #2b68cd; // 4.81 on Gray 100, 3.73 on Gray 900
$accent-1-dark: #1a396d; // 10.31 on Gray 100, 1.74 on Gray 900

// Light on Dark contrast: 8.33
$accent-2-light: #edb8d0; // 1.54 on Gray 100, 11.66 on Gray 900
$accent-2-base: #db045d; // 4.55 on Gray 100, 3.94 on Gray 900
$accent-2-dark: #58082a; // 12.86 on Gray 100, 1.39 on Gray 900

// Light on Dark contrast: 6.47
$accent-3-light: #c3dcd5; // 1.31 on Gray 100, 13.69 on Gray 900
$accent-3-base: #32936f; // 3.44 on Gray 100, 5.22 on Gray 900
$accent-3-dark: #1e4f3e; // 8.5 on Gray 100, 2.11 on Gray 900

// Light on Dark contrast: 7.9
$accent-4-light: #dbc4e0; // 1.46 on Gray 100, 12.24 on Gray 900
$accent-4-base: #91349d; // 5.99 on Gray 100, 3 on Gray 900
$accent-4-dark: #4d1f55; // 11.61 on Gray 100, 1.54 on Gray 900

// Light on Dark contrast: 6.63
$accent-5-light: #f0dfbf; // 1.19 on Gray 100, 15.1 on Gray 900
$accent-5-base: #c37e37; // 3 on Gray 100, 5.99 on Gray 900
$accent-5-dark: #664422; // 7.9 on Gray 100, 2.27 on Gray 900
