// ============================================================================
// Theming
// ============================================================================

@use 'colors';

:root {
    --font-stack-base: system, -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica,
        Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
    --font-stack-mono: 'Fira Code VF', 'Fira Code', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
        monospace;
    --font-size-small: 0.875rem;

    --color-background: #{colors.$gray-100};
    --color-foreground: #{colors.$gray-900};
    --color-background-alt: #{colors.$gray-200};
    --color-foreground-alt: #{colors.$gray-800};

    --color-separator: #{colors.$gray-600};
    --color-shadow: #{rgba(colors.$gray-800, 0.25)};

    --color-background-code: #{colors.$accent-1-light};
    --color-foreground-code: #{colors.$accent-1-dark};
    --color-background-code-block: #{colors.$gray-800};
    --color-foreground-code-block: #{colors.$gray-200};

    --color-accent-primary-light: #{colors.$accent-1-light};
    --color-accent-primary-base: #{colors.$accent-1-base};
    --color-accent-primary-dark: #{colors.$accent-1-dark};
    --color-accent-primary-background: var(--color-accent-primary-light);
    --color-accent-primary-foreground: var(--color-accent-primary-dark);

    --color-accent-1-base: #{colors.$accent-1-base};
    --color-accent-1-foreground: #{colors.$accent-1-dark};
    --color-accent-1-background: #{colors.$accent-1-light};

    --color-accent-2-base: #{colors.$accent-2-base};
    --color-accent-2-foreground: #{colors.$accent-2-dark};
    --color-accent-2-background: #{colors.$accent-2-light};

    --color-accent-3-base: #{colors.$accent-3-base};
    --color-accent-3-foreground: #{colors.$accent-3-dark};
    --color-accent-3-background: #{colors.$accent-3-light};

    --color-accent-4-base: #{colors.$accent-4-base};
    --color-accent-4-foreground: #{colors.$accent-4-dark};
    --color-accent-4-background: #{colors.$accent-4-light};

    --color-accent-5-base: #{colors.$accent-5-base};
    --color-accent-5-foreground: #{colors.$accent-5-dark};
    --color-accent-5-background: #{colors.$accent-5-light};

    --color-label: #{colors.$gray-700};
    --color-error: #{colors.$error};
    --color-highlight: #f7eb8b;

    --color-focus-ring: var(--color-accent-2-foreground);
}

[data-theme='dark'] {
    --color-background: #{colors.$gray-900};
    --color-foreground: #{colors.$gray-100};
    --color-background-alt: #{colors.$gray-800};
    --color-foreground-alt: #{colors.$gray-200};

    --color-separator: #{colors.$gray-400};

    --color-background-code: #{colors.$accent-2-dark};
    --color-foreground-code: #{colors.$accent-2-light};

    // Dark theme uses Accent 2 as primary
    --color-accent-primary-light: #{colors.$accent-2-light};
    --color-accent-primary-base: #{colors.$accent-2-base};
    --color-accent-primary-dark: #{colors.$accent-2-dark};
    --color-accent-primary-background: var(--color-accent-primary-dark);
    --color-accent-primary-foreground: var(--color-accent-primary-light);

    --color-accent-1-foreground: #{colors.$accent-1-light};
    --color-accent-1-background: #{colors.$accent-1-dark};

    --color-accent-2-foreground: #{colors.$accent-2-light};
    --color-accent-2-background: #{colors.$accent-2-dark};

    --color-accent-3-foreground: #{colors.$accent-3-light};
    --color-accent-3-background: #{colors.$accent-3-dark};

    --color-accent-4-foreground: #{colors.$accent-4-light};
    --color-accent-4-background: #{colors.$accent-4-dark};

    --color-accent-5-foreground: #{colors.$accent-5-light};
    --color-accent-5-background: #{colors.$accent-5-dark};

    --color-label: #{colors.$gray-300};
    --color-error: #{colors.$error-on-dark};

    --color-focus-ring: var(--color-accent-1-foreground);
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

mark {
    background-color: var(--color-highlight);
}

// Rulesets can specify when to use --accent-background and --accent-foreground,
// then elements can apply an `.accent-#` class to decide which accent is used.
@for $accent-index from 1 to 6 {
    .accent-#{$accent-index} {
        --accent-base: var(--color-accent-#{$accent-index}-base);
        --accent-background: var(--color-accent-#{$accent-index}-background);
        --accent-foreground: var(--color-accent-#{$accent-index}-foreground);
    }
}
