// ============================================================================
// Variables: Colors
// ============================================================================

$gray-lightest: #fafafa;
$gray-light: #c3c4c5;
$gray-medium: #676869;
$gray-dark: #263238;
$gray-darker: #1c2326;
$gray-darkest: #1a2023;

$accent-light: #2b68cd;
$accent-dark: #db045d;

$error: #ea0303;
