// ============================================================================
// Theming
// ============================================================================

@use 'colors';

:root {
    --font-stack-base: system, -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica,
        Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
    --font-stack-mono: 'Fira Code VF', 'Fira Code', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
        monospace;
    --font-size-small: 0.875rem;

    --color-background: #{colors.$gray-lightest};
    --color-foreground: #{colors.$gray-darker};

    --color-background-code: #263238;
    --color-foreground-code: #{colors.$gray-lightest};

    --color-accent: #{colors.$accent-light};
    --color-on-accent: #{colors.$gray-lightest};

    --color-label: #{colors.$gray-medium};
    --color-error: #{colors.$error};

    --focus-ring-outer: #{rgba(colors.$accent-light, 0.25)};
    --focus-ring-inner: #{colors.$accent-light};

    --focus-ring-error-outer: #{rgba(colors.$error, 0.25)};
    --focus-ring-error-inner: #{colors.$error};
}

[data-theme='dark'] {
    --color-background: #{colors.$gray-darker};
    --color-foreground: #{colors.$gray-lightest};
    --color-accent: #{colors.$accent-dark};
    --color-label: #{colors.$gray-light};

    --focus-ring-outer: var(--color-foreground);
    --focus-ring-inner: var(--color-background);

    // TODO: Test contrast against background
    --focus-ring-error-outer: #{colors.$error};
    --focus-ring-error-inner: var(--color-background);
}

// ----------------------------------------------------------------------------
// Theme Toggle
//
// When the theme is toggled, we add the `.theme-switching` class to the
// document to force a smooth transition of all colors on the page. Once the
// transition ends, we remove the class so it doesn't affect other page
// transitions.
//
// If the user prefers not to see page-wide animations, we disable the effect.
// ----------------------------------------------------------------------------

.theme-switching * {
    transition-property: background-color, border-color, box-shadow, color !important;
    transition-duration: 300ms;
}
