//// ==========================================================================
/// ReCSSet
/// A standard stylesheet to share across my personal projects
/// @author Eli Howey
//// ==========================================================================

@use 'colors';
@use 'theming';
@use 'normalize';
@use 'layout';

html {
    font-family: var(--font-stack-base);
    line-height: 1.5;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25;
}

caption,
figcaption,
label,
legend {
    line-height: 1.375;
}
